<div class="container">
    <h3 mat-dialog-title>Info about task</h3>
    <div mat-dialog-content>
        Title: {{data.title}}
        <p></p>
        Description: {{data.description}}
        <p></p>
        Poeple: {{data.people}}
        <p></p>
        Price: {{data.price}}
        <p></p>
        When: {{data.date}}
        <p></p>
        Category: {{data?.task?.Category?.name}}
    </div>

    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="1" (click)="confirmApprove()">Approve</button>
        <button mat-button  (click)="showDeclineDialog(data.task)">Decline</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
</div>