<mat-card>
<form [formGroup]="profileEditForm">
        <mat-form-field>
                <mat-label>Name:</mat-label>
                <input matInput type="text" formControlName="firstName" required>
                <mat-error>
                        <div class="alert alert-danger" *ngIf="profileEditForm.controls['firstName'].invalid && profileEditForm.controls['firstName'].touched">
                                <div *ngIf="profileEditForm.controls['firstName'].errors.required">
                                        Name is required.
                                </div>
                                <div *ngIf="profileEditForm.controls['firstName'].errors.minlength">
                                        Name must be at least 3 characters long.
                                </div>
                                <div *ngIf="profileEditForm.controls['firstName'].errors.maxlength">
                                        Name must be less than 255 characters long.
                                </div>
                        </div>
                </mat-error>
        </mat-form-field>
        <mat-form-field>
                <mat-label>Last Name:</mat-label>
                <input matInput type="text" formControlName="lastName" required>
                <mat-error>
                        <div class="alert alert-danger" *ngIf="profileEditForm.controls['lastName'].invalid && profileEditForm.controls['lastName'].touched">
                                <div *ngIf="profileEditForm.controls['lastName'].errors.required">
                                        Name is required.
                                </div>
                                <div *ngIf="profileEditForm.controls['lastName'].errors.minlength">
                                        Name must be at least 3 characters long.
                                </div>
                                <div *ngIf="profileEditForm.controls['lastName'].errors.maxlength">
                                        Name must be less than 255 characters long.
                                </div>
                        </div>
                </mat-error>
        </mat-form-field>
        <mat-form-field>
                <mat-label>Email:</mat-label>
                <input matInput type="text" formControlName="email" required type="email">
                <mat-error>
                        <div class="alert alert-danger" *ngIf="profileEditForm.controls['email'].invalid && profileEditForm.controls['email'].touched">
                                <div *ngIf="profileEditForm.controls['email'].errors.required">
                                        email is required.
                                </div>
                                <div *ngIf="profileEditForm.controls['email'].errors.email">
                                        Email incorrect.
                                </div>
                                <div *ngIf="profileEditForm.controls['email'].errors.maxlength">
                                        email must be less than 255 characters long.
                                </div>
                        </div>
                </mat-error>
        </mat-form-field>

        <button mat-button *ngIf="!this._isPswdBeChng" color="primary" (click)="onPswd()">Change Password</button>

        <div *ngIf="this._isPswdBeChng">
                <mat-form-field>
                        <mat-label>Old Password:</mat-label>
                        <input matInput type="text" formControlName="oldPswd" required type="password">
                        <mat-error>
                                <div class="alert alert-danger" *ngIf="profileEditForm.controls['email'].invalid && profileEditForm.controls['oldPswd'].touched">
                                        <div *ngIf="profileEditForm.controls['oldPswd'].errors.required">
                                                password is required.
                                        </div>
                                        <div *ngIf="profileEditForm.controls['oldPswd'].errors.minlength">
                                                password must be at least 3 characters long.
                                        </div>
                                        <div *ngIf="profileEditForm.controls['oldPswd'].errors.maxlength">
                                                password must be less than 255 characters long.
                                        </div>
                                </div>
                        </mat-error>
                </mat-form-field>
                <mat-form-field>
                        <mat-label>New Password:</mat-label>
                        <input matInput type="text" formControlName="newPswd" required type="password">
                        <mat-error>
                                <div class="alert alert-danger" *ngIf="profileEditForm.controls['newPswd'].invalid && profileEditForm.controls['newPswd'].touched">
                                        <div *ngIf="profileEditForm.controls['newPswd'].errors.required">
                                                password is required.
                                        </div>
                                        <div *ngIf="profileEditForm.controls['newPswd'].errors.minlength">
                                                password must be at least 3 characters long.
                                        </div>
                                        <div *ngIf="profileEditForm.controls['newPswd'].errors.maxlength">
                                                password must be less than 255 characters long.
                                        </div>
                                </div>
                        </mat-error>
                </mat-form-field>
                <mat-form-field>
                        <mat-label>Confirm Password:</mat-label>
                        <input matInput type="text" formControlName="cPswd" required type="password">
                        <mat-error>
                                <div class="alert alert-danger" *ngIf="profileEditForm.controls['cPswd'].invalid && profileEditForm.controls['cPswd'].touched">
                                        <div *ngIf="profileEditForm.controls['cPswd'].errors.required">
                                                password is required.
                                        </div>
                                        <div *ngIf="profileEditForm.controls['cPswd'].errors.minlength">
                                                password must be at least 3 characters long.
                                        </div>
                                        <div *ngIf="profileEditForm.controls['cPswd'].errors.maxlength">
                                                password must be less than 255 characters long.
                                        </div>
                                </div>
                        </mat-error>
                </mat-form-field>
        </div>
        <button mat-button color="primary" [disabled]="profileEditForm.invalid" (click)="onSave()">Save</button>
        <button mat-button color="primary" (click)="onCancel()">Cancel</button>
</form>
</mat-card>